.App{
  background-color: #f3f4f6;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  min-height: 100vh;
  min-width: 100vh;
}

.ant-checkbox .ant-checkbox-inner {
  width: 23px !important;
  height: 23px !important;
}

.custom-label {
  font-family: Arial;
  font-size: 14px;
}

